<div class="row">
    <table border=0>
        <thead>
            <th>User</th>
            <th>Data</th>
        </thead>
        <tbody>
            <%= for item <- @data do %>
                <tr>
                    <td><%= item["name"] %></td>
                    <td><%= item["data"] %></td>
                </tr
            <% end %>
        </tbody>
    </table>
</div>